In [1]:
# Q1 Write a NumPy program to convert a list of numeric values into a one-dimensional NumPy array

In [2]:
List = [1,2,3,4,5,6]

In [3]:
import numpy as np

In [4]:
array = np.array(List)

In [5]:
array

array([1, 2, 3, 4, 5, 6])

In [6]:
# Q2 Write a NumPy program to create a 3x3 matrix with values ranging from 2 to 10.

In [11]:
ar = np.arange(2,11).reshape(3,3)
ar

array([[ 2,  3,  4],
       [ 5,  6,  7],
       [ 8,  9, 10]])

In [12]:
# Q3 Write a NumPy program to create a null vector of size 10 and update the sixth value to 11.

In [34]:
n = np.zeros((10))

In [35]:
n[6] = 11

In [36]:
n

array([ 0.,  0.,  0.,  0.,  0.,  0., 11.,  0.,  0.,  0.])

In [37]:
# Q4 Write a NumPy program to create an array with values ranging from 12 to 38.

In [38]:
r = np.arange(12,38)

In [39]:
r

array([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
       29, 30, 31, 32, 33, 34, 35, 36, 37])

In [40]:
# Q5 Write a NumPy program to reverse an array (the first element becomes the last).

In [62]:
fl = np.arange(12,38)

In [64]:
fl

array([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
       29, 30, 31, 32, 33, 34, 35, 36, 37])

In [60]:
fl=fl[::-1]

In [61]:
fl

array([37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21,
       20, 19, 18, 17, 16, 15, 14, 13, 12])

In [65]:
# Q6 Write a NumPy program to convert an array to a floating type.

In [75]:
a = arange(1,10)

NameError: name 'arange' is not defined

range(1, 10)

In [71]:
f = np.asfarray(a)

In [72]:
f

array([1., 2., 3., 4., 5., 6., 7., 8., 9.])